body {
    font-family: Arial;
    background: #1e1e60;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    background: white;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: orange;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}